body {
	background: #9DBF9E;
}

#banner {
	width:60%;
}
#nome_do_id{
	display: flex;
	justify-content: center;
  }


.principal{
	background: #D0D6B5cc;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #3E5641;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #9DBF9E;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}